<form #form="ngForm" fxLayoutGap="20px">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      [ngModel]="country.name"
      name="name"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Short Name</mat-label>
    <input
      matInput
      placeholder="Short Name"
      [ngModel]="country.shortName"
      name="shortName"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit(form)"
    [disabled]="!form.valid"
    >
    Submit
  </button>
</form>
