<form [formGroup]="form" fxLayoutGap="20px">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      formControlName="name"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Short Name</mat-label>
    <input
      matInput
      placeholder="Short Name"
      formControlName="shortName"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!form.valid"
    >
    Submit
  </button>
</form>

<button routerLink="/">Back</button>
